
body {
    font-family: Arial, sans-serif;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
  }
  .main-header {
    text-align: center;
  }
  .add-btn {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    width: 70px
  }
  .task-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  .task {
    background: #f4f4f4;
    margin-bottom: 2px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .input-task {
    background: #f4f4f4;
    margin-bottom: 2px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .new-task {
    width: 80%;
    background: white;
    margin-bottom: 2px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .remove-btn {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    width: 70px
  }