
body {
    font-family: Arial, sans-serif;
    max-width: 80%;
    min-width: 400px;
    margin: auto auto;
    padding: 20px;
    font-size: 130%;
  }
  .main-header {
    text-align: center;
  }
  .add-btn {
    background: red;
    color: white;
    border: none;
    height: 45px;
    cursor: pointer;
    width: 130px;
    font-size: 130%;
  }
  .update-btn {
    background: red;
    color: white;
    border: none;
    height: 40px;
    cursor: pointer;
    width: 130px;
    font-size: 130%;
  }
  .task-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  .task {
    background: #f4f4f4;
    margin-bottom: 2px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .input-task {
    background: #f4f4f4;
    margin-bottom: 2px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .new-task {
    width: calc(100% - 160px);
    background: white;
    margin-bottom: 2px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 130%;
  }
  .update-task {    
    width: calc(100% - 160px);
    background: white;
    margin-bottom: 2px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 130%;
  }
  .remove-btn {
    background: red;
    color: white;
    border: none;
    height: 45px;
    cursor: pointer;
    width: 130px;
    font-size: 130%;
  }